/**********
** HEADER **/

/* Top header */
#top-header {
    height: 3rem;
    background-color: black;
    line-height: 3rem;
}

/* JUMBOTRON */
#jumbotron {
    height: 40rem;
    background-image: url(./img/jumbo-bg.png);
}

/* Debug */