/* generics */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.w-fit {
    width: fit-content;
}

.w-60 {
    width: 60%;
}

.special-btn {
    background-color: #d9dadc;
    border: currentColor;
}

/**********
** HEADER **/

/* Top header */
#top-header {
    height: 3rem;
    background-color: black;
    line-height: 3rem;
}

#top-header img {
    height: 1rem;
}

.navbar-brand>img {
    transform: scale(1.2);
}

.navbar .access {
    background-color: #363636;
}

/* JUMBOTRON */
.jumbo-pics {
    height: 70vh;
    background-image: url(./../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* FIRST OFFER */
#first-offer {
    height: 70vh;
    background-image: url(.././img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* NEW RELEASE */
#new-release {
    background-color: #1f1f1f;
}

/* PLAYSTATION PLUS */
#playstation-plus {
    background-color: #bebcbb;
}

/* PLAYSTATION NOW */
#playstation-now {
    background-color: darkblue;
}

/* FOOTER */
footer {
    background-color: darkblue;
}

footer ul {
    margin-block-end: 0;
}

/* Debug */

.box {
    height: 3rem;
    background-color: aquamarine;
    text-align: center;
    line-height: 3rem;

}

.box.one {
    background-color: gray;
}

.box.two {
    background-color: blue;
}

.box.three {
    background-color: red;
}

.debug-border {
    border: 1px dashed black;
}

/* Media Queries */

@media screen and (max-width: 991px) {
    .jumbo-pics picture img {
        width: 60% !important;
    }
}

@media screen and (min-width: 768px) {
    .reduce {
        transform: scale(.5);
    }
}