/**********
** HEADER **/

/* Top header */
#top-header {
    height: 3rem;
    background-color: black;
    line-height: 3rem;
}

/* JUMBOTRON */
#jumbotron {
    height: 70vh;
    background-image: url(./../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Debug */

.box {
    height: 3rem;

}

.box.one {
    background-color: gray;
}

.box.two {
    background-color: blue;
}

.box.three {
    background-color: red;
}